**/KVS.Lite/KVS.Lite.Client/bin/**
**/KVS.Lite/KVS.Lite.Client/obj/**
**/KVS.Lite/KVS.Lite.Core/bin/**
**/KVS.Lite/KVS.Lite.Core/obj/**

**/KVS.Lite/KVS.Lite.ClientAPI/bin/**
**/KVS.Lite/KVS.Lite.ClientAPI/obj/**